

                                        <div class="form-group">
                                            <label for="{{ u_form.title.id_for_label }}">{{ u_form.title.label }}</label>
                                            {{ u_form.title|add_class:"form-control"|attr:"value:" }}
                                            {% for error in u_form.title.errors %}
                                            <span class="help-block">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                                <button class="btn btn-outline-info" type="submit">Create</button>
                                        </div>